.selectInfo{
  display: inline-block;
  font-size: 18px;
  margin-bottom: 20px;
  position: absolute;
  left: 0;
  top: -50px;
  > .currentSelect{
    cursor: pointer;
    display: inline;
    > svg{
      width: 1em;
      height: 1em;
      margin-left: 5px;
    }
  }
  > .selectOptions{
    width: 140px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin: 10px 0 0;
    padding: 10px;
    > li{
      padding: 5px;
      &:hover{
        color: #469ae3;
        background-color: #f6f7f8;
        cursor: pointer;
      }
    }
  }
}